<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
        <mailSettings>
            <smtp from="ammi.said.kaidi@gmail.com" deliveryMethod="Network">
                <network 
                    defaultCredentials="false" 
                    host="smtp.gmail.com" 
                    port="587" 
                    password="as023942332" 
                    userName="ammi.said.kaidi@gmail.com"
                    />
                <!-- When using .Net 4.0 (or later) add attribute: enableSsl="true" and you're all set-->
            </smtp>
        </mailSettings>
    </system.net>
</configuration>